<body>
    <div id="max-width: 1600px">
        <header>
    . . .
        </footer>
    </div>
</body>

#background {
    height: 725px;
}

body {
    background-color: #6a9292; 
}

header {
    background-color:rgba(109, 121, 101, 0.7);
}
nav a:hover {
    background-color: rgb(95, 93, 126);
}

nav a:hover {
    background-color: rgb(90, 90, 130);
    color: #a3a8d9;
}   

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #3e3e7a;
    text-decoration: none;
}    

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}

    