@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(225, 230, 237);
    margin: 0;
  }
  
  #content {
    max-width: 1600px;
    width: 0 auto;
  }
  
  header {
    background-color: rgba(98, 151, 62, 0.7);
  }
  
  nav a {
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: gainsboro;
    text-decoration: underline;
    color: blue;
  }
  
  .home-title,
  h4 {
    color: #134266;
    text-align: center;
  }
  
  #hero-msg h1 {
    text-align: center;
  }
  
  #hero-msg h4 {
    text-align: center;
  }
  
  .book,
  .join {
    background-color: #134266;
    color: yellow;
    text-decoration: none;
  }
  
  .book:hover,
  .join:hover {
    background-color: white;
    color: blue;
  }
  
  .msg h2,
  .msg p {
    color: white;
  }
  
  .button-box {
    text-align: center;
  }
  
  main section {
    text-align: center;
  }
  
  #background {
    height: 725px;
    background-color: #6a9292;
  }
  
  .msg {
    background-color: rgba(98, 151, 62, 0.7);
  }
  
  footer {
    background-color: rgba(98, 151, 62, 0.7);
  }
  
  footer a {
    color: black;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: blue;
  }
  
  .icon,
  .logo {
    width: 80px;
  }
  
  #hero-img {
    width: 100%;
  }
  
  footer p {
    font-size: 1.2em;
  }

.home-title {
  font-family: 'Rock Salt','Bradely Hand' 'sans serif';
  font-size: 2em;

}
.msg {
  background-color: #737766;
  line-height: 1.5em;
}
body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0
}
nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}
                  
.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
}
.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}