.parent-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-item {
    grid-column: 2 / 7;
  
    display: grid;
    grid-template-columns: subgrid;
  }
  .child-of-grid-item {
    /* gets to participate on parent grid! */




#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  }
 
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  